<launch>
    <!-- define arguments to be accepted when calling roslaunch drone.launch -->
    <arg name="drone_a" default="true" />
    <arg name="mode_a" default="keyboard" />
    <arg name="cam_front_a" default="false" />
    <arg name="cam_down_a" default="false" />
    <arg name="las_down_a" default="false" />

    <arg name="drone_b" default="false" />
    <arg name="mode_b" default="keyboard" />
    <arg name="cam_front_b" default="false" />
    <arg name="cam_down_b" default="false" />
    <arg name="las_down_b" default="false" />

    <arg name="pics_per_sign" default="20" />
	<arg name="pics_data_path" default="sign_pics/" />
	<arg name="pics_ellipse_width" default="1.5"/>
	<arg name="pics_ellipse_height" default="1"/>
	<arg name="pics_distance_from_sign" default="0.5"/>

    <!-- launch the drone(s) if desired by user-->
    <group if="$(arg drone_a)" ns="drone_a">
        <param name="robot_description"
            command="$(find xacro)/xacro '$(find drone_desc)/urdf/drone.urdf.xacro' name:=drone_a" />

        <include file="$(find drone_desc)/launch/drone_spawn.launch">
            <arg name="name" value="drone_a" />
            <arg name="x" value="0.0" />
            <arg name="y" value="0.0" />
            <arg name="z" value="1" />
        </include>

        <!-- launch drone front camera view if cam arg is true -->
        <group if="$(arg cam_front_a)">
            <!-- 'name="node_name"' attribute should match the name in the python file -->
            <!-- rospy.init_node('node_name', anonymous=True) -->
            <node pkg="drone_bringup"
                type="drone_front_cam_viewer.py"
                name="drone_front_cam_viewer"
                output="screen" />
        </group>

        <!-- launch drone down camera view if cam arg is true -->
        <group if="$(arg cam_down_a)">
            <!-- 'name="node_name"' attribute should match the name in the python file -->
            <!-- rospy.init_node('node_name', anonymous=True) -->
            <node pkg="drone_bringup"
                type="drone_down_cam_viewer.py"
                name="drone_down_cam_viewer"
                output="screen" />
        </group>

        <!-- launch drone down laser view if las arg is true -->
        <group if="$(arg las_down_a)">
            <!-- 'name="node_name"' attribute should match the name in the python file -->
            <!-- rospy.init_node('node_name', anonymous=True) -->
            <node pkg="drone_bringup"
                type="drone_down_las_viewer.py"
                name="drone_down_las_viewer"
                output="screen"
                launch-prefix="bash -c 'sleep 2.0; $0 $@' "/>
            <!-- launch-prefix ... adds a delay, this is my attempt to ensure lasers are shown-->
        </group>

        <!-- depending on argument to roslaunch drone.launch mode:=arg, choose mode: -->
        <group if="$(eval arg('mode_a') == 'keyboard')">
            <!-- launch the teleop keyboard control mode -->
            <include file="$(find drone_teleop)/launch/drone_teleop.launch" />
        </group>
        <group if="$(eval arg('mode_a') == 'autonomous')">
            <!-- launch the autonomous control mode -->
            <include file="$(find drone_autonomous)/launch/drone_autonomous.launch" />
        </group>
        <group if="$(eval arg('mode_a') == 'time_trials')">
            <!-- launch the time trials control mode -->
            <include file="$(find drone_time_trials)/launch/drone_time_trials.launch" />
        </group>
        <group if="$(eval arg('mode_a') == 'collect_photos')">
            <!-- launch the photo collection control mode -->
            <include file="$(find drone_pic_collector)/launch/drone_pic_collector.launch" >
                <arg name="pics_data_path" value="$(arg pics_data_path)" />
                <arg name="pics_per_sign" value="$(arg pics_per_sign)"/>
                <arg name="ellipse_width" value="$(arg pics_ellipse_width)"/>
                <arg name="ellipse_height" value="$(arg pics_ellipse_height)"/>
                <arg name="distance_from_sign" value="$(arg pics_distance_from_sign)"/>
            </include>
        </group>

        <!-- launch drone stabilization -->
        <include file="$(find stable_drone)/launch/stable_drone.launch" />
    </group>

    <!-- launch the drone(s) if desired by user-->
    <group if="$(arg drone_b)" ns="drone_b">
        <param name="robot_description"
            command="$(find xacro)/xacro '$(find drone_desc)/urdf/drone.urdf.xacro' name:=drone_b" />

        <include file="$(find drone_desc)/launch/drone_spawn.launch">
            <arg name="name" value="drone_b" />
            <arg name="x" value="0.0" />
            <arg name="y" value="1" />
            <arg name="z" value="1" />
        </include>

        <!-- launch drone front camera view if cam arg is true -->
        <group if="$(arg cam_front_b)">
            <!-- 'name="node_name"' attribute should match the name in the python file -->
            <!-- rospy.init_node('node_name', anonymous=True) -->
            <node pkg="drone_bringup"
                type="drone_front_cam_viewer.py"
                name="drone_front_cam_viewer"
                output="screen" />
        </group>

        <!-- launch drone down camera view if cam arg is true -->
        <group if="$(arg cam_down_b)">
            <!-- 'name="node_name"' attribute should match the name in the python file -->
            <!-- rospy.init_node('node_name', anonymous=True) -->
            <node pkg="drone_bringup"
                type="drone_down_cam_viewer.py"
                name="drone_down_cam_viewer"
                output="screen" />
        </group>

        <!-- launch drone down laser view if las arg is true -->
        <group if="$(arg las_down_b)">
            <!-- 'name="node_name"' attribute should match the name in the python file -->
            <!-- rospy.init_node('node_name', anonymous=True) -->
            <node pkg="drone_bringup"
                type="drone_down_las_viewer.py"
                name="drone_down_las_viewer"
                output="screen"
                launch-prefix="bash -c 'sleep 2.0; $0 $@' "/>
                <!-- launch-prefix ... adds a delay, this is my attempt to ensure lasers are shown-->/>
        </group>

        <!-- depending on argument to roslaunch drone.launch mode:=arg, choose mode: -->
        <group if="$(eval arg('mode_b') == 'keyboard')">
            <!-- launch the teleop keyboard control mode -->
            <include file="$(find drone_teleop)/launch/drone_teleop.launch" />
        </group>
        <group if="$(eval arg('mode_b') == 'autonomous')">
            <!-- launch the autonomous control mode -->
            <include file="$(find drone_autonomous)/launch/drone_autonomous.launch" />
        </group>
        <group if="$(eval arg('mode_b') == 'time_trials')">
            <!-- launch the time trials control mode -->
            <include file="$(find drone_time_trials)/launch/drone_time_trials.launch" />
        </group>
        <group if="$(eval arg('mode_b') == 'collect_photos')">
            <!-- launch the photo collection control mode -->
            <include file="$(find drone_pic_collector)/launch/drone_pic_collector.launch" >
                <arg name="pics_data_path" value="$(arg pics_data_path)" />
                <arg name="pics_per_sign" value="$(arg pics_per_sign)"/>
                <arg name="ellipse_width" value="$(arg pics_ellipse_width)"/>
                <arg name="ellipse_height" value="$(arg pics_ellipse_height)"/>
                <arg name="distance_from_sign" value="$(arg pics_distance_from_sign)"/>
            </include>
        </group>

        <!-- launch drone stabilization -->
        <include file="$(find stable_drone)/launch/stable_drone.launch" />
    </group>
</launch>